<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css"> <!-- markdown -->
        <link rel="stylesheet" href="./node_modules/highlightjs/styles/default.css"> <!-- highlightjs -->
    </head>
    <body>
        <%- body %>
    </body>
</html>